<footer>
  <div class="row">
    <div class="footer-sections small-12 column">
      <div class="small-12 medium-6 column">
        <%= link_to t("layouts.header.open_gov", open: "#{t('layouts.header.open')}").html_safe, "/help/how-to-use", class: "title"%>

        <p class="info">
          <%= sanitize(t("layouts.footer.description",
            open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank", rel: "nofollow"),
            consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank", rel: "nofollow")))
          %>
          <%= t("layouts.footer.contact_us") %>
          <%= link_to t("layouts.footer.faq"), faq_path %>
        </p>
      </div>

      <div class="small-12 medium-3 column">
        <%= link_to t("layouts.footer.transparency_title"), setting['transparency_url'].presence || t("layouts.footer.transparency_url"), class: "title", rel: "nofollow" %>
        <p><%= t("layouts.footer.transparency_text") %></p>
      </div>

      <div class="small-12 medium-3 column">
        <%= link_to t("layouts.footer.open_data_title"), setting['opendata_url'].presence || t("layouts.header.external_link_opendata_url"), class: "title", rel: "nofollow" %>
        <p><%= t("layouts.footer.open_data_text") %></p>
      </div>
    </div>
  </div>

  <div class="subfooter">
    <div class="row">
      <div class="small-12 medium-6 column">
        <p class="footer-info-left">
          <%= image_tag asset_url("logo_footer.png"), class: "logo-footer" %>
          <b>Departament de Participació Ciutadana i Presidència</b>
          <br>Consell de Mallorca
        </p>
      </div>

      <div class="small-12 medium-6 column">
        <p class="footer-info-right">
          <%= t("layouts.footer.entre_tothom_mallorca").html_safe %>
        </p>
      </div>
    </div>

    <hr>
    <div class="row subfooter-links">
      <div class="medium-6 small-12 column">
        <ul>
          <%= raw content_block("footer", I18n.locale) %>
        </ul>
      </div>
      <div class="medium-6 small-12 column mod-social-networks">
        <ul>
          <% if setting["twitter_handle"] %>
            <li class="inline-block">
              <%= link_to "https://twitter.com/#{setting["twitter_handle"]}", target: "_blank",
                           title: t("shared.go_to_page") + t("social.twitter", org: setting["org_name"]) + t("shared.target_blank") do %>
                              <span class="show-for-sr"><%= t("social.twitter", org: setting["org_name"]) %></span>
                              <span class="icon-twitter" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting["facebook_handle"] %>
            <li class="inline-block">
              <%= link_to "https://www.facebook.com/#{setting["facebook_handle"]}/", target: "_blank",
                          title: t("shared.go_to_page") + t("social.facebook", org: setting["org_name"]) + t("shared.target_blank") do %>
                          <span class="show-for-sr"><%= t("social.facebook", org: setting["org_name"]) %></span>
                          <span class="icon-facebook" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting["youtube_handle"] %>
            <li class="inline-block">
              <%= link_to "https://www.youtube.com/#{setting["youtube_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.youtube", org: setting["org_name"]) + t("shared.target_blank") do %>
                          <span class="show-for-sr"><%= t("social.youtube", org: setting["org_name"]) %></span>
                          <span class="icon-youtube" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting["telegram_handle"] %>
            <li class="inline-block">
              <%= link_to "https://www.telegram.me/#{setting["telegram_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.telegram", org: setting["org_name"]) + t("shared.target_blank") do %>
                          <span class="show-for-sr"><%= t("social.telegram", org: setting["org_name"]) %></span>
                          <span class="icon-telegram" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting["instagram_handle"] %>
            <li class="inline-block">
              <%= link_to "https://www.instagram.com/#{setting["instagram_handle"]}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.instagram", org: setting["org_name"]) + t("shared.target_blank") do %>
                          <span class="show-for-sr"><%= t("social.instagram", org: setting["org_name"]) %></span>
                          <span class="icon-instagram" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
