<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.index.others.title") %></th>
      <th><%= t("admin.settings.setting_value") %></th>
    </tr>
  </thead>
  <tbody>
    <% @read_only_settings.each do |setting| %>
      <tr>
        <td class="small-6">
          <strong><%= t("settings.#{setting.key}") %></strong>
          <br>
          <span class="small">
            <%= t("settings.#{setting.key}_description", default: t("admin.settings.no_description")) %>
          </span>
        </td>
        <td class="small-6">
          <b><%= setting.value %></b>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
