<%= render "shared/globalize_locales", resource: @poll %>

<%= translatable_form_for [:admin, @poll] do |f| %>
  <%= render "shared/errors", resource: @poll %>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-6 column">
        <%= f.text_field :starts_at,
                          value: @poll.starts_at.present? ? l(@poll.starts_at.to_date) : nil,
                          class: "js-calendar-full" %>
      </div>

      <div class="small-12 medium-6 column">
        <%= f.text_field :ends_at,
                          value: @poll.ends_at.present? ? l(@poll.ends_at.to_date) : nil,
                          class: "js-calendar-full" %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 medium-6 column">
        <%= translations_form.text_field :name %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_area :summary, rows: 4 %>
      </div>

      <div class="small-12 column">
        <%= translations_form.text_area :description, rows: 8 %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= render "images/admin_image", imageable: @poll, f: f %>
    </div>

    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="clear">
      <div class="small-12 medium-4 large-2 column">
        <%= f.submit t("admin.polls.#{admin_submit_action(@poll)}.submit_button"),
                     class: "button success expanded margin-top" %>
      </div>
    </div>
  </div>

<% end %>
