<div class="verification account row">
  <% track_event(category: "verification", action: "start_sms") %>
  <div class="small-12 column">
    <div class="text-center">

      <div class="small-6 column verification-step completed">
        <span class="number">1</span> <%= t("verification.step_1") %>
      </div>
      <div class="small-6 column verification-step is-active">
        <span class="number">2</span> <%= t("verification.step_2") %>
      </div>
    </div>

    <div class="progress small-12 success">
      <span class="meter" style="width: 66%"></span>
    </div>

    <%= back_link_to account_path, t("verification.back") %>

    <h1><%= t("verification.sms.edit.title") %></h1>

    <%= form_for @sms, as: "sms", url: sms_path, method: :put do |f| %>
      <% if @error %>
        <div data-alert class="callout alert" data-closable>
          <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          <%= @error %>
        </div>
      <% end %>

      <div class="small-12 medium-6">
        <%= f.text_field :confirmation_code %>
      </div>

      <%= f.submit t("verification.sms.edit.submit_button"), class: "button success" %>
    <% end %>

    <p>
      <strong><%= t("verification.sms.edit.resend_sms_text") %></strong><br>
      <%= link_to t("verification.sms.edit.resend_sms_link"), verified_user_path %>
    </p>
  </div>
</div>
