<div class="verification account row">
  <% track_event(category: "verification", action: "success_census") %>
  <div class="small-12 column">
    <div class="text-center">

      <div class="small-6 column verification-step completed">
        <span class="number">1</span> <%= t("verification.step_1") %>
      </div>
      <div class="small-6 column verification-step is-active">
        <span class="number">2</span> <%= t("verification.step_2") %>
      </div>
    </div>

    <div class="progress small-12 success">
      <span class="meter" style="width: 66%"></span>
    </div>

    <%= back_link_to account_path, t("verification.back") %>

    <h1><%= t("verification.sms.new.title") %></h1>

    <%= form_for @sms, as: "sms", url: sms_path do |f| %>
      <%= render "shared/errors", resource: @sms %>

      <div class="small-12 medium-6">
        <%= f.label :phone, t("verification.sms.new.phone"), class: "inline-block" %>
        <span class="inline-block"><%= sanitize(t("verification.sms.new.phone_format")) %></span>
        <p class="help-text" id="phone-text-help"><%= t("verification.sms.new.phone_note") %></p>
        <%= f.text_field :phone, label: false,
                                 placeholder: t("verification.sms.new.phone_placeholder"),
                                 aria: { describedby: "phone-help-text" } %>
      </div>

      <%= f.submit t("verification.sms.new.submit_button"), class: "button success" %>
    <% end %>
  </div>
</div>
