// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

// CUSTOM VARIABLES

$top-links-color: #c6c2c2;
$top-links-background-color: #000;

$subnavigation-color: #949494;
$subnavigation-font-size: 15px;

$jumbo-color: #FFF;

$footer-border-color: #FFF;

$text-font-size: 20px;

// CUSTOM CONSUL SETTINGS

// 1. CONSUL variables
// --------------------

$brand:             #0099A9;
$brand-secondary:   #006A75;
$dark:              #000000;
$border:            #dddddd;
$budget:            #006a75;
$budget-hover:      darken($budget, 10%);

// CUSTOM SETTINGS

// 1. Global
// ---------

$global-weight-normal: 300;
$body-font-family: 'Open Sans', sans-serif !important;

// 4. Base Typography
// ------------------

$header-font-family: $body-font-family;
$header-sizes: (
  small: (
    'h1': 60,
    'h2': 40,
    'h3': 30,
    'h4': 18,
    'h5': 16,
    'h6': 14,
  ),
  medium: (
    'h1': 44,
    'h2': 34,
    'h3': 24,
    'h4': 19,
    'h5': 16,
    'h6': 13,
  ),
);
$header-color: #333333;
$subheader-color: #333333;

// 34. Title Bar
// -------------
$titlebar-color: #555555;
