// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

// General
//-------------------

.button {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  background-color: $brand;
  color: #FFF;
  border: solid 1px #FFF;
}

.button.transparent {
  background-color: transparent;
  color: #FFF;
  border: solid 1px #FFF;
}

.button:hover {
  background-color: $brand-secondary;
}

a:active, a:focus {
  outline: 0;
}

p {
  line-height: 20px;
  color: #6e6e6e;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

// Header
// ------------------

@media (min-width: 64.063em) {
  body:not(.admin) {
    header {
      background: linear-gradient(90deg, $brand 0%, $brand 77%, $brand-secondary 77%, $brand-secondary 100%);
    }

    .top-bar-right {
      background: linear-gradient(135deg, $brand 0%, $brand 64px, $brand-secondary 64px, $brand-secondary 100%);
      padding-left: 100px;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
  }
}

@media (max-width: 40em) {
  .responsive-logo-header {
    max-width: 265px;
    margin-bottom: 5px;
  }

  .mod-responsive-menu-background {
    background-color: #000000;
  }

  .top-bar {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.auth-image h1 img {
  height: auto;
  width: auto;
}

// Header - Top bar
// ------------------

.top-bar {
  background: none !important;
  
  ul {
    background-color: none;
  }
  
  .top-bar-title {
    a {
      img {
        width: auto;
        height: auto;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 15px;
      }
    }
  }

  .menu {
    > li{
      .button {
        color: #FFF;
        background-color: $brand-secondary;
      }
    }
  }

  .top-bar-right li a {
    font-size: 15px;
  }
}

.locale-switcher {
  outline: inherit !important;
}

// Header - Top links
// ------------------

.top-links {
  color: $top-links-color;

  .locale-form {
    label, .locale-switcher {
      color: $top-links-color;
    }
  }

  a, label, select {
    color: $top-links-color;
    font-size: 15px;
  }
}

// Header - Subnavigation
// ------------------

.subnavigation {
  a {
    color: $subnavigation-color;
    font-size: $subnavigation-font-size;
  }
}

@media (max-width: 40em) {
  .subnavigation {
    a {
      color: #FFF;
    }
  }

  // El botón de registrarse se verá como el resto de enlaces
  // en los dispositivos móviles
  .top-bar .menu > li .button {
    background: inherit !important;
    border: inherit !important;
  }
}

// Welcome
// ------------------

.home-page {
  .jumbo {
    padding-top: 11rem;
    padding-bottom: 5rem;
    background: url("<%= asset_url('welcome.png') %>");
    background-size: cover;
    background-repeat: no-repeat; 
    color: $jumbo-color;

    h1 {
      font-weight: 300;
      color: $jumbo-color;
      margin-bottom: 40px;
    }

    a {
      color: $jumbo-color;
    }
  
    a.welcome-button {
      font-size: 30px;
    }

    a.welcome-button:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .box {
    -webkit-box-shadow: 1px 1px 18px 0px rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    1px 1px 18px 0px rgba(50, 50, 50, 0.18);
    box-shadow:         1px 1px 18px 0px rgba(50, 50, 50, 0.18);

    .box-image {
      width: 100%;
      margin-bottom: 10px;
    }
    
    .box-title {
      font-size: 21px;
      margin-bottom: 10px;
    }

    .box-text {
      font-size: 15px;
      padding-bottom: 12px;
    }

    .box-text.mod-min-height {
      min-height: 136px;
    }

    .box-label {
      font-size: 15px;
      margin-bottom: 6px;
      color: $brand;
    }

    .box-text, .box-title, .box-label {
      padding-right: 12px;
      padding-left: 12px;
    }

    a {
      color: #222;
    }
  }
}

@media (max-width: 40em) {
  .jumbo {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    
    h1 {
      font-size: 35px;
    }

    a.welcome-button {
      font-size: 28px;
    }
  }
}

// Footer
// ------------------

.footer {
  border-top: 6px solid $footer-border-color;
  
  .subfooter {
    background-color: #000;
    color: #FFF;
    padding-bottom: 20px;

    p, a {
      color: #FFF;
    }

    .logo-footer, .footer-info-left {
      display: block;
      float: left;
    }

    .footer-info-left {
      position: relative;
      padding-left: 40px;
      
      .logo-footer {
        position: absolute;
        width: 26px;
        left: 0;
        top: 4px;
      }
    }

    .footer-info-right {
      float: right;
    }

    .social {
      margin-top: 20px;
    }

    .subfooter-links {
      ul {
        margin-bottom: 0;
        margin-left: 0.3rem;
        list-style: none;

        li {
          display: inline-block;

          a {
            margin: 0 0.375rem;
            text-decoration: none;
          }
        }

        li:after {
          content: '|';
        }

        li:last-child:after {
          content: '';
        }
      }
    }
  }
}

.footer,
.push {
  clear: both;
  min-height: $line-height * 12 - 3;
}

@media (min-width: 40.063em) {
  .subfooter-links .mod-social-networks {
    text-align: right;
  }
}

@media (max-width: 40em) {
  .subfooter {
    p {
      float: left !important;
    }
  }

  .subfooter-links {
    text-align: center;
  }

  .subfooter-links .mod-social-networks {
    margin-top: 20px;
  }
}

// Devise pages
// ------------------

.button.button-twitter, .button.button-facebook, .button.button-google {
  border-left: inherit;
}

.button.button-twitter:hover {
  background-color: darken(#EBF7FC, 10%);
}

.button.button-facebook:hover {
  background-color: darken(#ebeef4, 10%);
}

.button.button-google:hover {
  background-color: darken(#fcedea, 10%);
}

// Budgets
// ------------------

.expanded.budget {
  .info {
    background: darken($budget, 5%);
  }
}

// Debates
// ------------------

.debates-list {
  .debate {
    .debate-content {
      .debate-info {
        margin-bottom: 8px;
      }
    }
  }
}

// admin
// ------------------

.admin-content {
  webkit-box-flex: 75%;
  -webkit-flex: 75%;
  -ms-flex: 75%;
  flex: 75%;
  padding: 1.5rem !important;
}

// banners
// ------------------

.banner {
  padding: 10px 10px;
}

#debates .banner, #proposals .banner {
  margin-bottom: 20px;
}

.home-page .banner, .budgets-banner .banner, .help-banner .banner {
  top: -25px;
  position: relative;
}

// Poster & Email (resources)
// ------------------

.poster-header p.intro, .poster-header p.text-center strong {
  color: #fff;
}

.dashboard-mail-preview .mail-header {
  h1, h2 {
    color: #FFF;
  }
}
