<% if header.present? %>
  <div class="jumbo highlight" style="background: url(<%= header.image_url(:original) %>);">
    <div class="row">
      <div class="small-12 medium-12 column small-centered text-center">
        <span><%= raw header.label %></span>
        <h1><%= raw header.title %></h1>
        <p class="lead">
          <%= raw header.description %>
        </p>
        <div class="small-12 medium-6 large-6 small-centered">
          <%= link_to header.link_text, header.link_url, class: "button transparent expandend large welcome-button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
