<div class="row section-content">
  <div class="small-12 column">
    <h3 id="proposals" data-magellan-target="proposals">
      <%= t("pages.help.proposals.title") %>
    </h3>
    <p>
      <%= sanitize(t("pages.help.proposals.description",
              link: link_to(t("pages.help.proposals.link"), proposals_path))) %>
    </p>
    
    <% # ANDOS UPDATE - Añadido texto adicional %>
    <p><%= t("pages.help.proposals.feature_html").html_safe %></p>
    <% # END ANDOS UPDATE %>

    <figure>
      <%= image_tag "help/proposals_#{I18n.locale}.png", alt: t("pages.help.proposals.image_alt") %>
      <figcaption><%= t("pages.help.proposals.figcaption") %></figcaption>
    </figure>
  </div>
</div>
